@using System.Collections
<!-- Header -->
@{
    ViewData["Title"] = "Home Page";
}
<header id="Home">
    <div class="intro text-center">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                        <h1 style="color:azure">Welcome to <span class="brand">Vision College</span></h1>
                        <h2>Visitor Management System</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Services Section -->
<div id="services" class="text-center">
    <div class="container">
        @*await Html.PartialAsync("~/Views/Visitors/Index.cshtml")*@
        <div class="col-md-8 offset-2 section-title">
            <h2>Read the Conditions</h2>
            <div class="row ">
                @foreach (var item in (IEnumerable)ViewData["Conditions"])
                {
                    if (item.ToString().Contains("Heading"))
                    {
                        <div class="form-group col-xs-12 col-md-12">
                            <h3> @item.ToString().Replace("Heading", "")</h3>
                        </div>
                    }
                    else
                    { <div class="form-group col-md-3 text-left">@item.ToString()</div>
                }
            }
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    @*@await Html.PartialAsync("~/Views/Visitors/Create.cshtml")*@
</div>
